.main-area {
    padding: 8px;
    background: var(--bg-page);
    border: 1px solid var(--border-color);
    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    transition: var(--transition);
    display:flex;
    flex-direction: column;
    gap: 8px;
    flex:1;
    /* min-height:fit-content; */
}
.mainarea>header {

}
.mainarea>section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
